.Dictionary {
  margin: 0 100px 30px;
}

.Dictionary section {
  background: #fff2d7;
  margin: 20px 0;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.Dictionary input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #f3dbab;
  border-radius: 20px;
  color: 331800;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 8px;
  opacity: 0.7;
}
